---
import NavbarMobile from "./NavbarMobile.astro";
---

<div class="sm:hidden">
  <NavbarMobile />
</div>
  
</div>
<nav class=" hidden sticky navbar top-0 z-10 transition duration-300 mx-auto max-w-5xl px-8 py-4 sm:flex flex-col sm:flex-row sm:gap-x-16 sm:item-center sm:py-4 justify-between">
  <a class="nav-link hover:text-sky-300" href="#top">Home</a>
  <div class="flex gap-x-10 opacity-90 items-center">
    <a class="nav-link hover:text-sky-300" href="#experience">Experience</a>
    <a class="nav-link hover:text-sky-300" href="#projects">Projects</a>
    <a class="nav-link hover:text-sky-300" href="#about">About</a>
    <a  class="nav-link hover:text-sky-300" href="mailto:webster.munoz@outlook.com" target="_blank" class="flex gap-x-2 opacity-90 items-center justify-center">Contact
    </a>
  </div>
</nav>

<!-- Navbar behavior -->

<script>
  window.addEventListener('scroll', () => {
    const navbar = document.querySelector('.navbar');
    if (window.scrollY > 50) {
      navbar.classList.add('scrolled');
    } else {
      navbar.classList.remove('scrolled');
    }
  });

  
</script>