---

import ProjectCard from "./ProjectCard.astro"
import SectionContainer from "./SectionContainer.astro"
import Code from "./icons/Code.astro"

const projects = [
  {
    title: 'Ember Nic',
    description: 'Catalog website built with React, Redux Toolkit, React Router, and styled using TailwindCSS + DaisyUI, integrated with Contentful CMS. Final users can add or remove products directly through Contentful CMS.',
    link: 'https://embernic.netlify.app/',
    github: 'https://github.com/terwebs/webstore',
    image: 'ember-store.jpg',
    tags: ['HTML', 'CSS', 'javaScript']
  },
  {
    title: 'ANM fence & deck',
    description: 'Landing page developed with React and TailwindCSS, powered by Contentful CMS. Built for a small team of entrepreneurs, the site allows users to update content directly via Contentful, with changes automatically synced through a Webhook integration',
    link: 'https://anm-fence-and-deck.netlify.app',
    github: 'https://github.com/terwebs/bay-area-day-laborers',
    image: 'ann-fence-and-deck.jpg',
    tags: ['HTML', 'CSS', 'javaScript']
  }
]
---

<SectionContainer id="projects">
  <h2 class="text-2xl sm:text-4xl text-sky-300 font-semibold mb-8 flex gap-x-2 items-center">
    <Code class="size-8"/>
    Projects
  </h2>
  <div class="flex flex-col gap-8">
    {
      projects.map((project) => (
        <ProjectCard {...project}/>
      ))
    }
  </div>
</SectionContainer>


