---

import ProjectCard from "./ProjectCard.astro"
import SectionContainer from "./SectionContainer.astro"
import Code from "./icons/Code.astro"

const projects = [
  {
    title: 'Webstore',
    description: 'Demo store built using React, Redux Toolkit, React Router, Daisy UI + Tailwind, integrated with Contentful CMS, users have the hability to filter items, add them to a cart and place an order.',
    link: 'https://main--terwebstore.netlify.app/',
    github: 'https://github.com/terwebs/webstore',
    image: 'webstore.webp',
    tags: ['HTML', 'CSS', 'javaScript']
  },
  {
    title: 'Bay Area Day Laborers',
    description: 'Landing page built with React + Tailwind + Contenful CMS, site developed for a small team of entrepreneurs, final users have the ability to make changes from the Contenful site using a Webhook.',
    link: 'https://bay-area-day-laborers.netlify.app/',
    github: 'https://github.com/terwebs/bay-area-day-laborers',
    image: 'bayareadaylaborers.webp',
    tags: ['HTML', 'CSS', 'javaScript']
  }
]
---

<SectionContainer id="projects">
  <h2 class="text-2xl sm:text-4xl text-sky-300 font-semibold mb-8 flex gap-x-2 items-center">
    <Code class="size-8"/>
    Projects
  </h2>
  <div class="flex flex-col gap-8">
    {
      projects.map((project) => (
        <ProjectCard {...project}/>
      ))
    }
  </div>
</SectionContainer>


