---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 container mx-auto max-w-5xl px-8 py-4 my-12`}
>
  <slot />
</section>