---
interface Props {
	title: string;
}

import Experience from "../components/Experience.astro";
import Header from "../components/Navbar.astro"
import '@fontsource-variable/onest';


const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/me_favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<!-- <div class="flex flex-col items-center absolute top-0 z-[-2] w-screen bg-neutral-950 bg-[radial-gradient(ellipse_70%_70%_at_50%_-10%,rgba(120,119,198,0.3),rgba(255,255,255,0.0))]"> -->
		<div class="bg-fixed-custom">	
			<slot />
		</div>
		
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		/* background: #fff */
	}

	body {
		background: #050505;
		/* display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; */
		font-family: 'Onest Variable', sans-serif;
		
		
	}

	.bg-fixed-custom {
  background-image: radial-gradient(ellipse 70% 70% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0.0));
  background-attachment: fixed;
  background-size: cover;
 }

	@media(prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

  .navbar.scrolled, .navbarMobile.scrolled {
    background-color: rgba(0,0,0, 0.2); /* more opaque */
		backdrop-filter: blur(10px);
		border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; 
  }

	.navbar{
		transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
	}

	.nav-link.active {
    color: #7dd3fc; /* Active link color, you can choose any color you prefer */
  }

	.linkedin:hover{
		fill: #bae6fd;
	}
	

</style>
